.macbook {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mockup {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  opacity: 0;
  transition: 500ms opacity;
}

.mockup.loaded {
  opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.mockup .part.top {
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}
.mockup .part.top img:first-of-type {
  filter: brightness(0.85);
}
.mockup .part.bottom img:last-of-type {
  filter: brightness(0.5);
}

.mockup .part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
}

.mockup.opened .part .top {
  transform: translate3d(0, 0, -11px) rotateX(90deg);
}

.macbook .pTitle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 100% 0%;
}

.mockup .part .top {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, -11px) rotateX(90deg);
}

.mockup img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

.mockup .part .cover {
  position: relative;
}

.mockup .screen {
  display: flex;
  position: absolute;
  left: 3%;
  right: 3%;
  border-radius: 6px;
  overflow: hidden;
  height: 90%;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  object-fit: cover;
}

.mockup .part.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, 0) rotateX(90deg);
}
